{% extends 'base.html' %}
{% load static %}
{% block extracss %}<link rel="stylesheet" href="{% static 'styles/admin_dashboard.css' %}">{% endblock extracss %}
{% block dynamic_css %}{% endblock dynamic_css %}


{% block navbar %}
{% include 'includes/adminpanel/admin_navbar.html' %}
{% endblock navbar %} 


{% block content %} 
<div class="main">
<div class="container-fluid outer-side-container">
  <div class="row flex-nowrap main-container ">
      <div class="col-auto col-md-9 col-lg-9 px-sm-9 px-0 bg-dark left-main-nav ms-2">
          <div class="d-flex flex-column align-items-sm-start pt-2 text-white min-vh-100">
              
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-sm-start w-100" id="menu">
                 
                  <li id="account">
                      <a href={% url 'account' %}  class="nav-link px-0 align-middle " >
                          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1  d-sm-inline" >Account</span> </a>
                      
                  </li>
                  <li id="orders">
                      <a href={% url 'orderhistory' %} class="nav-link px-0 align-middle" >
                          <i class="fs-4 bi-table"></i> <span class="ms-1 d-sm-inline" >Orders</span></a>
                  </li>
                  <li id="addresses">
                      <a href="{% url 'addresslist' %}"  class="nav-link px-0 align-middle " >
                          <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-sm-inline" >Addresses</span></a>
                      
                  </li>
                
                  {% comment %} <li>
                      <a href="#" class="nav-link px-0 align-middle">
                          <i class="fs-4 bi-people"></i> <span class="ms-1 d-sm-inline">add more</span> </a>
                  </li> {% endcomment %}
              </ul>
              
          </div>
      </div>
    
  </div>
</div>

  <div class="dynamic"> {% block dynamic %}{% endblock dynamic %}</div>
</div>

{% endblock content %}
