.main-container{
  background-color: #121212;
  padding-top: .5rem;
  /* width: 60%; */
}

.left-main-nav{
  border: none #363A3C .01rem;
  background-color:transparent !important;
  
}

#menu li{
  background-color:#181A1B;
  width: 100%;
  border: solid #363A3C .01rem;

}

#menu li a:hover{
  color: rgba(255, 255, 255, 0.888);
}

#menu li a:focus{
  color: rgba(255, 89, 0, 0.888);
}

#menu a{
  color: #A8A095;
}

.outer-side-container{
  float: left;
  width: 10rem !important;
  
}
.dynamic{
  margin-top: 1rem;
  width: 90%;
  
}

.main{
  display: flex !important;
}

.paginate_button{
  color: white !important;
}
.dataTables_paginate{
  color: white !important;
}

.dataTables_wrapper{
  color: white !important;
}



.btn-unblock{
  background-color: rgb(89, 90, 89) !important;
  color: greenyellow !important;
}
.btn-unblock:hover{
  color: black !important;
}

.btn-block{
  background-color: rgb(65, 65, 65) !important;
  color: orange !important
}
.btn-block:hover{
  color: black !important;
}
.btn-delete{
background-color: rgb(65, 65, 65) !important;
color: rgb(252, 0, 0) !important
}
.btn-delete:hover{
color: black !important;
}

.btn-addbutton{
background-color: rgb(65, 65, 65) !important;
color: greenyellow !important;
/* float: right; */
margin-right: 2rem;
margin-top: 1rem;
margin-bottom: 1rem;
}
.btn-addbutton:hover{
color: black !important;
}
